.card {
  width: 20em;
  border-radius: 0 0 8px 8px;
  text-align: center;
  margin: 10px;
  background-color: #f7f7f7;
  padding-bottom: 30px;
}
.cardImg {
  object-fit: cover;
  width: 100%;
}
.card:hover {
  transform: scale(1.06);
  transition: transform 2.5s ease;
}

.card:not(:hover) {
  transform: scale(1);
  transition: transform 2.5s ease;
}

.title {
  font-size: 25px;
  color: #555;
  margin-top: 20px;
  letter-spacing: 1px;
}
.text {
  padding: 10px 30px 0px 30px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 767px) {
  .card {
    width: 80%;
    margin: 5% 10%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
