.contact {
  margin: 20px 0;
}
.formGroup {
  margin-bottom: 10px;
}
.label {
  color: #222;
  font-weight: bold;
}
.inputValue,
.textArea {
  height: 40px;
  width: 100%;
  text-indent: 15px;
  margin-bottom: 10px;
}
.textArea {
  padding-top: 15px;
  height: 120px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 767px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
