.product {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #666;
  border-bottom: solid 1px #444;
  padding: 10px;
  margin: 5% 10%;
}
.productImg {
  width: 200px;
}
ul.productUl {
  list-style-type: none;
}
.title {
  font-size: 20px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 767px) {
  .product {
    flex-direction: column;
  }
  ul.productUl {
    text-align: center;
  }
  .pt2 {
    padding-top: 5%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
